@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Baloo Tamma 2', system-ui;
	font-optical-sizing: auto;
	line-height: normal;
}
